@tailwind base;

@tailwind components;

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  left: 202px;
  top: 32px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}
.pagination {
  display: flex;
  margin: 0 auto;
}
.pagination li {
  margin: 0 12px;
}

@tailwind utilities;
